
/*
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⡿⠿⠛⠉⠉⠉⠉⠛⠻⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⠁⠄⠄⠄⠄⠄⠄⠄⠄⣀⠄⠄⠈⠙⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣷⠄⢀⣠⣴⣾⣿⣷⠄⠄⢿⡇⠄⣤⣤⣀⠉⠙⠛⠛⠿⠿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣷⠛⠋⠉⠄⣨⣿⠄⠄⢸⠁⢠⣿⣿⣿⣿⣦⠄⢀⡀⠄⠄⠄⠉⠻⢿⣿⣿
⣿⣿⣿⠄⠄⠄⠾⠿⠏⠄⠄⠄⠄⠄⠉⠉⠈⠙⠛⠄⠛⠛⠄⠄⠄⠈⠓⠆⢻⣿
⣿⠟⠁⠄⠐⠶⣶⣶⣶⣶⠆⢀⣴⣶⣦⠄⡀⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⢀⣿
⣿⡄⠄⠄⠄⣀⠄⠈⠉⠁⠄⣾⣿⣿⣿⣿⣧⣶⣶⠂⢀⣀⡀⠄⠄⠄⠄⢀⣿⣿
⣿⣿⣄⠄⠄⠉⠄⠄⠄⠄⠄⠈⠛⣿⣿⣿⣿⣿⣧⣶⣿⣿⠃⣠⣿⡇⢀⣾⣿⣿
⣿⣿⣿⣷⠄⠄⠄⠄⠄⠄⠄⠄⠄⠙⢋⣿⣿⡿⣿⣿⣿⣿⣿⣿⣿⣷⣿⣿⣿⣿
⣿⣿⣿⣿⣆⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠉⠁⣠⣿⡿⢃⣿⡿⢻⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣷⣦⣤⣄⡀⠄⠄⠄⠄⠄⠄⠄⠈⠉⠄⠾⠋⠄⣾⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣦⣄⡀⠄⠄⠄⠄⠄⠄⠄⠄⢸⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣶⣤⣀⣀⣀⣀⣠⣾⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
*/

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.cap, .content, .list, .contact-container{
    display: flex;
}

.cap{
    justify-content: space-between;
}

.content, .list{
    justify-content: space-around;
}

.attic, .basement{
    display: inline-block;
}

.attic__heading{
    width: 510px;
    border: 1px solid black; /*Все рамки для наглядности*/
    font-size: 64px;
    color: #1F3F68;
}

.attic__paragraph{
    width: 425px;
    border: 1px solid black;
}

.basement{
    width: 495px;
    border: 1px solid black ;
}

.basement__heading{
    width: 400px; /*Если поставить меньше, то слово статься перепрыгнет на новую строчку*/
    border: 1px solid black ;
}

.contact-container{
    justify-content: center;
}

.feedback,.bottom, .contact-information{    
    border: 1px solid black;}

.attic__paragraph, .articles__paragraph, .bottom__paragraph, .basement__paragraph, .rights__paragraph, .contact__paragraph{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.bottom__paragraph{
    text-align: center;
}

.heading-content, .basement__heading, .bottom__heading{
    font-size: 36px;
    text-align: center;
}

.articles__heading, .contact__chapter, .feedback__heading{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.doge{
    width: 250px;
}

.input{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.send, .reset{
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.reset{
    background: rgb(209, 92, 92);
}

.send{
    background: #5A98D0;
}
 .map{
    border: 1px  red solid;
 }

 .list, .phone{
     list-style-type: none;
 }


.Anime{
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    animation: anime 5s 1;
}

@keyframes anime{
    0%{
        color: white;

    }
    10%{
        color: white;
    }
}
