/*
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⡿⠿⠛⠉⠉⠉⠉⠛⠻⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⠁⠄⠄⠄⠄⠄⠄⠄⠄⣀⠄⠄⠈⠙⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣷⠄⢀⣠⣴⣾⣿⣷⠄⠄⢿⡇⠄⣤⣤⣀⠉⠙⠛⠛⠿⠿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣷⠛⠋⠉⠄⣨⣿⠄⠄⢸⠁⢠⣿⣿⣿⣿⣦⠄⢀⡀⠄⠄⠄⠉⠻⢿⣿⣿
⣿⣿⣿⠄⠄⠄⠾⠿⠏⠄⠄⠄⠄⠄⠉⠉⠈⠙⠛⠄⠛⠛⠄⠄⠄⠈⠓⠆⢻⣿
⣿⠟⠁⠄⠐⠶⣶⣶⣶⣶⠆⢀⣴⣶⣦⠄⡀⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⢀⣿
⣿⡄⠄⠄⠄⣀⠄⠈⠉⠁⠄⣾⣿⣿⣿⣿⣧⣶⣶⠂⢀⣀⡀⠄⠄⠄⠄⢀⣿⣿
⣿⣿⣄⠄⠄⠉⠄⠄⠄⠄⠄⠈⠛⣿⣿⣿⣿⣿⣧⣶⣿⣿⠃⣠⣿⡇⢀⣾⣿⣿
⣿⣿⣿⣷⠄⠄⠄⠄⠄⠄⠄⠄⠄⠙⢋⣿⣿⡿⣿⣿⣿⣿⣿⣿⣿⣷⣿⣿⣿⣿
⣿⣿⣿⣿⣆⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠉⠁⣠⣿⡿⢃⣿⡿⢻⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣷⣦⣤⣄⡀⠄⠄⠄⠄⠄⠄⠄⠈⠉⠄⠾⠋⠄⣾⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣦⣄⡀⠄⠄⠄⠄⠄⠄⠄⠄⢸⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣶⣤⣀⣀⣀⣀⣠⣾⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
*/

* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.text{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    opacity: 0.6;
    letter-spacing: 0.05em;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.top{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.red-frame1{
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    height: 768px;
}

.cap, .content, .list, .contact-container{
    display: flex;
}

.cap{
    justify-content: space-between;
}

.content, .list{
    justify-content: space-around;
}

.content{
    padding-top: 64px;
}

.box-cap{
    padding-top: 42px;
}

.attic{
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/Su34.png);
    background-repeat: no-repeat;
    background-position: right center;
}


.attic__heading{
    font-size: 64px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
}

.attic__paragraph{
    width: 425px;
}

.house{
    margin-top: 64px;
    margin-bottom: 64px;
}

.articles{
    width: 359px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 44px 32px;
    flex-direction: column;
    display: flex;
}

.articles__heading{
    padding-bottom: 14px;
}

.image-ho229{
    padding-bottom: 51px;
    align-self: center;
    width: 300px;
}

.image-pe3{
    padding-bottom: 111px;
    align-self: center;
    width: 320px;
}

.image-b747{
    align-self: center;
    width: 320px;
}

.link-continuation{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    display: inline-block;
    padding-top: 30px;
    text-decoration: none;
}

.img-arrow{
    width: 14px;
    padding-left: 20px;
}

.link-3{
    padding-top: 60px;
}

.bottom__img, .bottom__img_moon{
    width: 100%;
    border-radius: 10px;
}

.bottom__item{
    position: relative;
    flex-grow: 1;
}

.bottom__parent{
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}

.bottom__item-margin{
    margin-right: 32px;
}

.bottom__text, .bottom__text-2, .bottom__text-1{
    font-size: 32px;
    line-height: 46px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
}

.bottom__text-2, .bottom__text-1{
    top: 32px;
    left: 32px;
}

.bottom__text{
    top: 64px;
    right: 64px;
}

.bottom__paragraph{
    margin: 32px auto 64px;
    opacity: 1;
    width: 75%;
    color: #222222;
    text-align: center;
}

.contact-container{
    justify-content: center;
}

.link-publication{
    background: #5A98D0;
    color: #FFFFFF; ;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    padding: 15px 50px;
    margin-top: 71px;
}


.heading-content, .basement__heading, .bottom__heading{
    font-size: 36px;
    line-height: 46px;
    text-align: center;
}

.articles__heading, .contact__chapter, .feedback__heading{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
}

.red-frame2{
    background: #316099;
    margin-top: 112px;
    padding-top: 91px;
    padding-bottom: 64px;
}

.basement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 96px;
}

.link-talk{
    text-decoration: none;
    background: #5A98D0;
    color: #FFFFFF; 
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 15px 80px;
    display: inline-block;
}

.basement__paragraph, .rights__paragraph{
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF; 
    opacity: 0.6;
}

.basement__heading{
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 390px;
    text-align: left;
    margin-bottom: 32px;
}

.list{
    margin-top: 64px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 64px;
}

.header-box{
    height: 100%;
    margin-bottom: 57px;
}

.clouds{
    background-image: url(img/Clouds.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 55px;
   
}

.anime-text{
    display: inline-block;
}

.noimage{
    background-image: none;
    text-align: center;
    padding-top: 51px;
    padding-bottom: 49px;
}


.contact-heading{
    color: #FFFFFF;
    margin-bottom: 16px;
}

.anime-text{
    color: rgba(255, 255, 255, 0.6);
}

.doge{
    width: 300px;
    margin-bottom: 56px;
}

.contact-information li {
    background-repeat: no-repeat;
    background-position: left center ;
}

.contact-information__phone li{
    background-image: url(img/Vector.png);
    padding-left: 40px;
}

.contact-information__link li:nth-child(1){
    background-image: url(img/web.png);
    padding-left: 40px;
}

.contact-information__link li:nth-child(2){
    background-image: url(img/mail.png);
    padding-left: 40px;
}

.adtritio{
    margin-bottom: 16px;
}

.feedback{
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background: #FFFFFF;
    padding: 56px 56px;
    box-sizing: border-box;
    width: 540px;
    margin-bottom: 96px;
}


.feedback__heading{
    margin-top: 56px;
    margin-left: 56px;
    margin-bottom: 48px;
}

.contact__chapter{
    font-weight: 500;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
    margin-top: 40px;
}

.feedback input[type=text], .feedback input[type=email]{
    height: 72px;
}

.contact-container{
    justify-content: space-around;
}

.input{
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    width: 100%;
    border: 1px solid #356EAD;
    margin-bottom: 32px;
    padding: 21px 42px;
    margin-top: 8px;
}

.input::placeholder{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
}

.send{
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #5A98D0;
    width: 100%;
    padding: 23px 170px;
    margin-top: 72px;
    border: none;
}

  .contact-information__phone, .cap, .contact-information__link{
    list-style-type: none;
 }


